@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
body {
	margin: 0;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font: Times, serif;
	/* color: #2f2f2f;
	background-color: #f9f7f1; */
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

/* .top {
	color: #f9f7f1;
	background-color: #2f2f2f;
} */
